<!doctype html>
<html lang="en">
  <head>
    <title class="task-title"></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-adjustments.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">

  </head>
  <body onload="updateData()">
    <div class="title-bar">
        <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.png' %}" width="330" alt="" class="d-inline-block align-middle mr-2">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="task-title"></h1>
                <br>
                <div class="row">
                    <div class="col">
                        <h5>ID</h5>
                        <p id="task-id-block"></p>
                    </div>
                    <div class="col">
                        <h5>Status</h5>
                        <p id="status-block"></p>
                    </div>
                    <div class="col">
                        <h5>Start-Time</h5>
                        <p id="task-time-block"></p>
                    </div>
                    <div class="col">
                        <h5>Return-Code</h5>
                        <p id="return-code-block"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>API-Endpoint-Call</h5>
                        <section id="main" class="language-properties">
                            <pre>
                                <code id="endpoint-block"> </code>
                            </pre>
                        </section>
                        <h5>Executed Command</h5>
                        <section id="main" class="language-properties">
                            <pre>
                                <code id="command-block"> </code>
                            </pre>
                        </section>
                        <h5>Execution-Logs</h5>
                        <section id="main" class="language-properties">
                            <pre>
                                <code id="logs-block"> </code>
                            </pre>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% load static %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script src="{% static 'js/prism.js' %}"></script>

    <script type = "text/javascript" language="javascript">
        function updateData(){
            $(document).ready(function() { 
                $.getJSON('http://localhost:8000/api', function(task) {
                    $('.task-title').html('Task-Shell-Execution: ' + task.id);
                    $('#task-id-block').html(task.id);
                    $('#status-block').html(task.status); 
                    $('#task-time-block').html(task.id); 
                    $('#return-code-block').html(task.shellExecutionSummary.returnCode); 
                    $('#endpoint-block').html(task.apiEndpointCall); 
                    $('#command-block').html(task.shellExecutionSummary.command); 
                    $('#logs-block').html(task.shellExecutionSummary.logs);
                    console.log(task);
                }); 
            }); 
        }
        window.setInterval(function(){
            updateData();
        }, 10000);
    </script>
  </body>
</html>